.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* background-image: url('../../images/project-1287781_1280.jpg'); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: initial;
}
