.group {
  position: relative;
  margin-bottom: 30px;
}
.formItem {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #ccc;
}
.formItem:focus {
  outline: none;
}

.formItem::placeholder {
  opacity: 0;
}

.formItem:focus.formItem::placeholder {
  opacity: 1;
}
/* LABEL ======================================= */
.formLabel {
  color: #999;
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
.formItem:focus ~ label,
.formItem:valid ~ label {
  top: -15px;
  font-size: 14px;
  color: #5264ae;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 320px;
}
.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
.formItem:focus ~ .bar:before,
.formItem:focus ~ .bar:after {
  width: 50%;
}
