.list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 12px;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
#cardWrapper {
  transform: translate(-0%, -0%);
}

.card {
  position: fixed;
  width: 100%;
  height: 100%;
  transition: 0.6s ease-in-out;
  border-radius: 10px;
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.3);
  backface-visibility: hidden;
}
#cardFront {
  background: url(../../images/weather.png);
  z-index: 2;
}
#cardBack {
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  transform: rotateY(180deg);
  background: #3f51b5;
  z-index: 1;
}

#cube {
  position: absolute;
  top: 25%;
  left: 10%;
}

.face {
  transform-origin: 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
}

.cubeTop {
  background: #cbefe8;
  transform: rotate(210deg) skew(-30deg) scaleY(0.864);
}
.cubeLeft {
  background: #52aca2;
  transform: rotate(90deg) skewX(-30deg) scaleY(0.864);
}
.cubeRight {
  background: #8bd7d3;
  transform: rotate(-30deg) skewX(-30deg) scaleY(0.864);
}

#cardWrapper:hover #cardFront {
  transform: rotateY(180deg);
}
#cardWrapper:hover #cardBack {
  transform: rotateY(0deg);
  z-index: 3;
}

.details {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  transform: translate(-50%, -50%);
}
.details h3 {
  font-family: 'Cabin', sans-serif;
  color: white;
  font-size: 14pt;
  letter-spacing: 0.3rem;
  text-align: center;
}
.details p {
  font-family: 'Cabin', sans-serif;
  color: white;
  font-size: 8pt;
  letter-spacing: 0.3rem;
  text-align: center;
}
.details span {
  position: relative;
  top: 70px;
  font-family: 'Cabin', sans-serif;
  color: white;
  font-size: 8pt;
  letter-spacing: 0.3rem;
  text-align: center;
}

.btnRemove {
  position: absolute;
  top: 1px;
  right: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
  outline: none;

  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}
